{% extends "layout.html" %}
{% block body_content %}
    <span id="testworld">
        <p>アップロードに成功しました。</p>
    </span>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
$(function(){
    var analyse_url = '/analyse';
    {% if filename %}
    analyse_url += '/{{ filename }}/{{ useVT }}';
    {% endif %}
    var source = new EventSource(analyse_url);
    source.onmessage = function(event){
        console.log(event.data);
        if(event.data === ''){
            console.log('analyse end');
            source.close();
        }
        $('#testworld').append(event.data);
    }
    source.onerror = function(){
        if(source.readyState == EventSource.CONNECTING){
            console.log("reconnecting");
        }else if(source.readyState == EventSource.CLOSED){
            console.log("end");
        }
        source.close();
    }
});
</script>
{% endblock %}
